.admin-table {
    a:hover {
        text-decoration: none;
    }

    thead th, th, td {
        vertical-align: middle;
    }

    #report-reason-table-col {
        width: 50%;
    }

    @media all and (max-width: 575px) {
        th, td {
            width: 500px;
        }
    }
}

.add-interest {
    a {
        color: $dark;
    }
    a:hover {
        color: $gray-700;
        text-decoration: none;
    }

}