h2 {
    font-family: $Gabriela;
}

h3 {
    font-size: 1rem;
    font-style: italic;
}

header {
    background: center no-repeat url('../images/header-bg.jpg') ;
    background-size: cover;
    height: 500px;
    color : white;
    text-align: center;
    h3 {
        font-size: 1.4rem;
    }
    
}
main {
    margin-top: 88px;
}

footer {
    background-color: $dark;
}

#concept:target, #members-sample:target {
    padding-top: 45px;
}

section{
    i.fa-circle {
    color: $purple;
    }
}

.btn {
    border-radius: 25px;
}

footer {
    .nav-link{
        color: $blue;
    }
    .nav-link:hover {
        color: $light-blue;
    }
    .btn-secondary {
        color: $light;
    }
}


@media (min-width: 992px) {
    #new-members, #search-results {
        .col-lg-3  {
            max-width: 18%;
        }
    }
}
