.navbar-brand {
  font-family: Gabriela, serif;
  font-size: 20px;
  color: $purple;
  img {
    height: 35px;
    width: auto;
  }
  text-align: center;

  figure {
    margin: 0;
  }
}

button.btn-primary, a.btn-primary {
  background-color: $purple;
  border-color: $purple;

  &:hover {
    background-color: rgb(136, 85, 156);
    border-color: $purple;
  }
}

footer {
  text-align: center;
  button.btn-secondary, a.btn-secondary {
    width: 55px;
    height: 55px;
    padding:0;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center; 

    background-color: $blue;
    border-color: $blue;

    &:hover {
      background-color: $light-blue;
      border-color:  $light-blue;
    }
  }
}

.nav-item {
  font-size: 1rem;
}

.profile-picture {
  height: 60px;
  border-radius: 3px;
}

#hello-text {
  color: $dark;
}

.navbar-nav .nav-link {
  color: $purple !important;
  
  &:hover {
    color: $dark-purple !important;
  }
}