body  {
    font-family: $Roboto;
}

.emojione {
    width: 25px;
    height: auto;
}

footer {
    a {
        color: $blue;
        &:hover {
            text-decoration: none; 
            color: $light-blue;
        }
    }
}