#email {
    .form-control {
        width: 180%;
    }
}

#username.form-control {
    width: 150px;
}

@media all and (min-width: 485px) {
    .form-control.password {
        width: 400px;
    }
    
}
