h2 {
  font-family: "Gabriela", serif; }

h3 {
  font-size: 1rem;
  font-style: italic; }

header {
  background: center no-repeat url("../images/header-bg.jpg");
  background-size: cover;
  height: 500px;
  color: white;
  text-align: center; }
  header h3 {
    font-size: 1.4rem; }

main {
  margin-top: 88px; }

footer {
  background-color: #293132; }

section i.fa-circle {
  color: #6C3B80; }

.btn {
  border-radius: 25px; }

footer .nav-link {
  color: #50B9CA; }
footer .nav-link:hover {
  color: #82c7d1; }
footer .btn-secondary {
  color: #F2F4F3; }

@media (min-width: 992px) {
  #new-members .col-lg-3 {
    max-width: 18%; } }
.navbar-brand {
  font-family: Gabriela, serif;
  font-size: 20px;
  color: #6C3B80;
  text-align: center; }
  .navbar-brand img {
    height: 35px;
    width: auto; }
  .navbar-brand figure {
    margin: 0; }

button.btn-primary, a.btn-primary {
  background-color: #6C3B80;
  border-color: #6C3B80; }
  button.btn-primary:hover, a.btn-primary:hover {
    background-color: #88559c;
    border-color: #6C3B80; }

footer {
  text-align: center; }
  footer button.btn-secondary, footer a.btn-secondary {
    width: 55px;
    height: 55px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #50B9CA;
    border-color: #50B9CA; }
    footer button.btn-secondary:hover, footer a.btn-secondary:hover {
      background-color: #82c7d1;
      border-color: #82c7d1; }

.nav-item {
  font-size: 1rem; }

.profile-picture {
  height: 60px;
  border-radius: 3px; }

#hello-text {
  color: #293132; }

.navbar-nav .nav-link {
  color: #6C3B80 !important; }
  .navbar-nav .nav-link:hover {
    color: #2B193D !important; }

.modal-content .alert {
  padding: .25rem .5rem; }

body {
  font-family: "Roboto", sans-serif; }

.emojione {
  width: 25px;
  height: auto; }

footer a {
  color: #50B9CA; }
  footer a:hover {
    text-decoration: none;
    color: #82c7d1; }

#member-profile .jumbotron {
  background-color: rgba(31, 72, 110, 0.541);
  color: white;
  height: 250px; }
  #member-profile .jumbotron h1 {
    position: absolute;
    bottom: 10px;
    left: 170px;
    color: #F2F4F3; }
  #member-profile .jumbotron .lead {
    font-size: 2rem; }

#profile-jumbotron {
  position: relative; }
  #profile-jumbotron h1 {
    font-family: "Gabriela", serif; }

#profile-picture {
  position: absolute;
  bottom: -25px;
  left: 10px; }
  #profile-picture img {
    width: 150px;
    height: auto;
    border: solid #F2F4F3 3px;
    border-radius: 8px; }

#member-basics .details-item, #member-description .details-item {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px; }
#member-basics h3, #member-description h3 {
  font-style: normal;
  font-size: 1.25rem;
  font-family: "Gabriela", serif;
  margin-bottom: 0;
  padding: 10px; }
#member-basics h5, #member-description h5 {
  font-size: 1.05rem;
  margin-bottom: 0; }
#member-basics p, #member-description p {
  margin: 0; }

.divider {
  margin-top: 90px;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #6C3B80, transparent); }

/* Button 2 */
#user-buttons {
  position: absolute;
  top: 0;
  right: 0; }
  #user-buttons button, #user-buttons a {
    display: flex;
    align-items: center;
    justify-content: center; }
  #user-buttons .btn {
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
    margin: 10px 7px;
    border-radius: 40px;
    letter-spacing: 1px;
    outline: none;
    font-size: .85rem;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    #user-buttons .btn img {
      width: 25px;
      height: auto; }
  #user-buttons .btn-1 {
    background: #784c8a;
    box-shadow: 0 5px #6C3B80; }
    #user-buttons .btn-1:hover {
      box-shadow: 0 3px #6C3B80;
      color: #F2F4F3;
      top: 2px; }
    #user-buttons .btn-1:active {
      box-shadow: 0 0 #6C3B80;
      top: 6px; }
  #user-buttons .btn-2 {
    background: #c31432;
    box-shadow: 0 5px #A01129; }
    #user-buttons .btn-2:hover {
      box-shadow: 0 3px #A01129;
      color: #F2F4F3;
      top: 2px; }
    #user-buttons .btn-2:active {
      box-shadow: 0 0 #A01129;
      top: 6px; }

.modal-footer .btn.btn-success {
  background-color: #50B9CA !important;
  border-color: #50B9CA !important; }

#modify-profile {
  position: relative; }
  #modify-profile .form-row {
    position: relative; }
  #modify-profile .text-area-full {
    width: 100%; }
  #modify-profile .tox-tinymce {
    border-radius: .25rem; }

form {
  position: relative; }
  form label {
    margin-bottom: 0; }

#suggestions-list {
  font-size: .875rem;
  position: absolute;
  max-height: 80px;
  overflow-y: auto;
  top: 1px;
  color: #293132;
  border: 1px solid #d0d0d0;
  border-radius: 0 0 3px 3px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  cursor: mouse; }
  #suggestions-list div:hover {
    background-color: #F2F4F3; }

.selectize-control.multi .selectize-input {
  -webkit-box-shadow: none;
  box-shadow: none; }
.selectize-control.multi .selectize-input > div {
  background-image: linear-gradient(to bottom, #c31432, #A01129);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);
  color: white !important;
  border-radius: 3px; }
.selectize-control.multi .selectize-dropdown {
  color: #293132; }

#modify-profile input, #modify-profile textarea, #modify-profile .option, #modify-profile .item {
  font-size: .875rem;
  color: #293132; }
  #modify-profile input::placeholder, #modify-profile textarea::placeholder, #modify-profile .option::placeholder, #modify-profile .item::placeholder {
    color: #293132; }
#modify-profile .custom-file .custom-file-label {
  overflow: hidden;
  text-align: left;
  font-size: .875rem; }
  #modify-profile .custom-file .custom-file-label::after {
    content: "Parcourir"; }
  @media (min-width: 576px) {
    #modify-profile .custom-file .custom-file-label {
      justify-content: flex-start; } }
@media (max-width: 576px) {
  #modify-profile #identified-as {
    width: 100%; } }
#modify-profile .invalid-select {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545; }

#email .form-control {
  width: 180%; }

#username.form-control {
  width: 150px; }

.form-control.password {
  width: 400px; }

.search-jumbotron {
  background-image: url(../images/search-engine-jumbotron.jpg);
  background-size: cover; }

#search-engine .irs--big .irs-bar {
  top: 33px;
  height: 12px;
  background-color: #6C3B80;
  border: 1px solid #2B193D;
  background: linear-gradient(to bottom, #ffffff 0%, #4b2074 30%, #6C3B80 100%); }
#search-engine .irs--big .irs-from, #search-engine .irs--big .irs-to, #search-engine .irs--big .irs-single {
  color: white;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #6C3B80;
  background: linear-gradient(to bottom, #6C3B80 0%, #4b2074 100%);
  border-radius: 3px; }
#search-engine .jumbotron {
  background-color: rgba(43, 25, 61, 0.301);
  color: #F2F4F3; }
#search-engine h1.display-4 {
  font-family: "Gabriela", serif;
  font-size: 2.5rem; }
#search-engine p.lead {
  font-weight: 300;
  font-style: italic; }

/*# sourceMappingURL=main.css.map */
